﻿@model MovieRental.Models.Customer

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>


<ul>
  <li>Membership Type: @Model.MembershipType.Name</li>
    @if (Model.Birthdate != null)
    {
        <li>Birthdate: @Model.Birthdate</li>
    }
</ul>




