﻿@model MovieRental.ViewModels.MovieViewModel

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("New Movie", "New", "Customers", new {@class= "btn btn-primary"})

<table class="table table-striped table-hover" id="movies">
    <thead>
        <tr>
            <th><h4> Movies</h4></th>
            <th><h4> Genre</h4></th>
            <th><h4> Delete</h4></th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table> 

@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, customer) {
                            return "<a href='/movies/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn-link js-delete' data-movie-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });
            $("#movies").on("click",
                ".js-delete",
                function() {
                    var button = $(this);

                    bootbox.confirm("Are you sure you want to delete this member?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/movies/" + button.attr("data-movie-id"),
                                    method: "DELETE",
                                    success: function() {
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                            });
                            }
                        });
                });
        });
    </script>


}