﻿@model MovieRental.ViewModels.MovieViewModel

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>



<table class="table table-striped table-hover" id="movies">
    <thead>
        <tr>
            <th><h4> Movies</h4></th>
            <th><h4> Genre</h4></th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table> 

@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "genre.name"
                    }
                ]
            });
        });
    </script>
}