﻿
@{
    ViewBag.Title = "New Rental";
}

<h2>New Rental</h2>

<form>
    
    <div class="form-group">
        <label>Customer</label>
        <input type="text" value="" class="form-control" id="customer" />
    </div>
    <div class="form-group">
        <label>Movie</label>
        <input type="text" value="" class="form-control" id="movies"/>
    </div>
    <div class="form-group"><button class="btn btn-default">Submit</button></div>
</form>


@section scripts
{
    <script>
        $(document).ready(function() {
            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead({
                minLength: 2,
                highlight: true
            }, {
                name: 'customers',
                display: 'name',
                source: customers
            });
        });
    </script>
    

}